<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        OmegaCube •
        {% block title %}
        {% endblock %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <link href="{{ url_for("static", filename="styles/base.css") }}" rel="stylesheet">
    {% block extendhead %}
    {% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="navbar-start">
            <a href="/">
                OmegaCube
            </a>
        </div>
        <div class="navbar-end">
            
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>